@property --rotate {
  syntax: "<angle>";
  initial-value: 100deg;
  inherits: false;
}

:root {
  --card-height: 41vh;
  --card-width: calc(var(--card-height) / 0.9);
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 50vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

 h1{
  color: aliceblue;
 }
 .container{
   text-align: center;
   /* display: flex; */
   justify-content: center;


 }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}